@use "sass:color";
// ****************** Location ******************
.header {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
}

.location {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  background-color: rgba(234,234,234,255);
  font-size: 1.2rem;

  &_icon {
    margin-right: 1rem;
  }
  &_text {
    font-weight: 400;
  }
}
// ****************** Booking ******************

.booking {
  padding: 4rem;
  text-align: center;
  background-color: rgba(246,246,246,255);

  &_title {
    margin: 0;
  }
  &_description {
    font-weight: 200;
    margin: 1.5rem 0;
  }
  &_btn {
    @include button(primary);
    margin-bottom: 1rem;
  }
}

// ****************** Operating ******************

.operating {
  padding: 2rem;

  &_title {
    margin-top: 0;
  }

  &_list {
    margin: 0;
    padding: 0;
  }

  ol li {
    list-style-type: none;
  }

  .operating_options:hover {
    background-color: #f5edff;

    i {
      color: $color-primary;
    }
  }

  &_options {
    position: relative;
    margin: 1rem 0 1rem 0.75rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  }

  &_icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }

  &_number {
    position: absolute;
    top: 1.25rem;
    left: -1rem;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $color-light;
    background-color: $color-primary;
  }
}

// ****************** Restaurants ******************

.restaurants {
  background-color: #f6f6f6;
  padding: 1.4rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background-color: $color-light;
  border-radius: 1rem;
  text-decoration: none;
  position: relative;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);

  &_img {
    height: 11rem;
    width: 100%;
    object-fit: cover;
    border: transparent solid 0;
    border-radius: 1rem 1rem 0 0;
  }

  &_new {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.125rem;
    top: 1rem;
    right: 0.75rem;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
  }

  &_icon {
    -webkit-text-stroke: 1px white
  }

  &_footer {
    padding: 1rem;
    display: flex;
    align-items:center;
    position: relative;

  }

  &:last-child {
    margin-bottom: 3rem;
  }

  &_title {
    margin: 0;
    padding-bottom: 0.5rem;
    color: $color-dark;
  }

  &_city {
    color: $color-dark;
  }

  &_heart:hover .far,
  .card_heart .fas {
    display: none;
  }
  &_heart:hover .fas {
    display: inline;
  }

  .full {
    color: transparent;
    background-image: linear-gradient(0deg, color.scale($color-primary, $alpha: -10%) 0%, color.scale($color-secondary, $alpha: -10%) 100%);
    -webkit-background-clip: text;
  }

  &_icon {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    color: black;
  }
}
