@use "sass:color";

.header {
  position: relative;

  &_arrow {
    position: absolute;
    color: black;
    height: 2rem;
    width: 2rem;
    left: 2rem;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.restaurant_img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.menu {
  &_header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem 0 1rem;
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
  }

  &_title {
    font-family: "Shrikhand", "cursive";
  }

  &_heart:hover .far,
  .menu_heart .fas {
    display: none;
  }

  &_heart:hover .fas {
    display: inline;
  }

  &_icon {
    margin-right: 2rem;
    -webkit-text-stroke: 1px white
  }

  .full {
    color: transparent;
    background-image: linear-gradient(0deg, color.scale($color-primary, $alpha: -10%) 0%, color.scale($color-secondary, $alpha: -10%) 100%);
    -webkit-background-clip: text;
  }

  &_icon {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 1rem;
    color: black;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f6f6f6;
  padding: 1rem;

  h4:after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    width: 2.4rem;
    border: 1px solid $color-tertiary;
  }

  .droite {
    display: flex;
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.column {
  width: calc(100% / 3 - 20px);
  padding: 10px;
  min-width: 300px;
}

.dish {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 22%);
  overflow: hidden;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  &:nth-child(2) {
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    animation-delay: 0.3s;
  }





  &:hover &_validation {
    animation: slide 1s;
  }

  &_validation_container {
    display: flex;
    align-items: center;
  }

  &_text {
    padding: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  &_description {
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &_price {
    font-weight: bold;
    margin-right: 15px;
  }

  &_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    border-radius: 0 0.75rem 0.75rem 0;
    width: 0;
    height: 100%;
    transition: all 700ms;
    opacity: 0;

  }

 

  &_icon_container {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }

  &_icon {
    color: $color-tertiary;
  }

  &:last-child {
    margin-bottom: 3rem;
  }

}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;

  &_btn {
    display: flex;
    justify-content: center;
    @include button(primary);
    width: 50%;
  }
}